[defaults]
inventory = ~/ansible-hosts
library = ~/napalm-ansible/napalm_ansible/modules:~/ansible-extras/ntc-ansible/library
action_plugins = ~/napalm-ansible/napalm_ansible/plugins/action
host_key_checking = False
retry_files_enabled=False

# Ansible 2.5/2.6 timeout issues
[persistent_connection]
command_timeout = 40
